$maxmobile:"(max-width:767px)";
$maxsmall:"(max-width:991px)";
$minsmall : "(min-width:768px)";
$minmedim:"(min-width:992px)";
$minlarge:"(min-width:1200px)";
$floatl: left;
$floatr: right;
$maincolor:#ffc107;
$mainsecondcolor:#007aff;
$pcolor:#5d5d5d;